<link rel="stylesheet" href="public/assets<%= assetPath('css/home.css') %>">

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <%if(locals.user){%>
            <!-- form to create post -->
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here...." required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
        <div id="post-list-container">
            <ul>
                <!-- i represents post object -->
                <!-- this 'post' name we get from home_controller.js' -->
                <!-- we cannot use original post_Schema name in ejs part so we write it in new key -->
            <%for(let i of post){%>
                
                <li id="post-<%=i.id%>">
                    <p>
                      
                       <% if(locals.user && i.user.id==locals.user.id){%>
                           <small>
                               <!-- i.id is id of that post -->
                               <a class="delete-post-button" href="/posts/destroy/<%= i.id %>">Delete</a>
                               
                           </small>
                           <%}%>

                       <%=i.content%>
                   <br>  
                    <small>
                       <%=i.user.Name%>
                   </small>
                    <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
        <br>
        <!-- study about the data attribute -->
    <small>
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%=i.likes.length %>" href="/likes/toggle/?id=<%=i.id%>&type=Post">
                    <%= i.likes.length %> Likes
            </a>
        <% }else{ %>
            <%= i.likes.length %> Likes
        <% } %>
    </small>
                    

                </p>
                <div class="post-comments">
                   <%if(locals.user){%>
                    <!-- form to create comment -->
                   <form action="/comments/create" method="post" id="post-<%=i._id%>-comments-form">
                       <input type="text" name="content" placeholder="Type Here to add comment......" required>
                       <!-- value attribute -> the content in the value set is sent to the server on form submission.-->
                       <!--value="<%=i._id%> is the id of post in which comment is created-->
                       <input type="hidden" name="post" value="<%=i._id%>">
                       <input type="submit" value="Add Comment">
                   </form>
                   <%}%>
               
                   <div id="post-comments-lists">
                       <ul id="post-comments-<%=i._id%>">
                           <!-- i.comments is loop inside comments of posts(in which p represents that object) -->
                           <%for(let p of i.comments){%>
                           
                            <li id="comment-<%=p.id%>">
                                <p>
                                   
                                    <% if(locals.user && locals.user.id==p.user.id){%>
                                        <small>
                                            <!-- p.id is id of that comment -->
                                            <a class="delete-comment-button" href="/comments/destroy/<%= p.id %>">Delete</a>
                                        </small>
                                        <%}%>
                                   <%=p.content%>
                                    <br>
                                    <small>
                                        <%=p.user.Name%>
                                    </small>
                                    <!-- CHANGE :: display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
            <!-- study about the data attribute -->
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= p.likes.length %>" href="/likes/toggle/?id=<%=p._id%>&type=Comment">
                            <%= p.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <%= p.likes.length %> Likes
                <% } %>
            </small>
                                </p>
                              
                            </li>              
                            
                           <%}%>
                           
                       </ul>
                   </div>
                </div>
                </li>
                        
            <%}%>
        </ul>
        </div>

        
    </section>
    
    <!-- displaying users friends -->
    <section id="user-friends">
        <h4>Friends</h4>
        <!-- this 'all_users' name we get from home_controller.js' -->
         <!-- we cannot use original user_Schema name in ejs part so we write it in new key -->
        <%for(u of all_users){%>
        <p>
            <a href="/user/profile/<%=u.id%>"><%=u.Name%></a>
        </p>
        <%}%>
    </section>
    <%if(locals.user){%>
<section id="followers">
       <h4>Followers</h4>
       <%for(f of user.friends){%>
        <p>
        <%=f.to_user.Name%>
    </p>
        <%}%>
</section>
    <%}%>
    
    <%- include('chat_box');%>
</div>
<script src="public/assets<%= assetPath('js/home_comment.js')%>"></script>
<script src="<%= assetPath('js/home_post.js')%>"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="public/assets<%= assetPath('js/toggle_likes.js')%>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="public/assets<%= assetPath('js/chat_engine.js')%>"></script>
<% if(locals.user){%>
<script>
    //sending userEmail and chatBox id from chatBox.ejs
    new ChatEngine('user-chat-box','<%=locals.user.email%>')
</script>
<%}%>
