<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="public/assets<%= assetPath('css/layout.css')%>">
    <%- style %>
    <body>
        <!-- header is fixed  -->
        <%- include('_header');%>
       
        <!-- body is variable and will extracted from different ejs part -->
        <main id="layout-main">
        <%-body %>
    </main>
<!-- footer is fixed -->
        <%-include('_footer');%>


        <%- script %>

        <script>
            <%if(flash.success && flash.success.length>0){%>
                new Noty({
                 theme:'relax',
                 text: '<%=flash.success%>',
                 type:'success',
                 layout:'topRight',
                 timeOut:1500
                }).show();
            <%}%>

            <%if(flash.error && flash.error.length>0){%>
                new Noty({
                 theme:'relax',
                 text: '<%=flash.error%>',
                 type:'error',
                 layout:'topRight',
                 timeOut:1500
                }).show();
            <%}%>
        </script>
    </body>
</html>