<link rel="stylesheet" href="/css/user_profile.css">
<h1>user profile</h1>

<p><%=profile_user.Name%></p>
<p><%=profile_user.email%></p>

<%if(user.id==profile_user.id){%>
    <!-- if user matches then show the form -->
    <form action="/user/update/<%=profile_user.id%>" method="post" >
        <input type="text" name="Name" placeholder="Your Name" value="<%=profile_user.Name%>" required>
        <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
        <input type="submit" value="Update">
    </form>

<%}else{%>
<!-- else only show profile info -->
    <p><%=profile_user.Name%></p>
    <p><%=profile_user.email%></p>

<%}%>